*Where  you can sign up as a professional (offering servicces) or customer
*We will classify the professionals by category (plumbers, electicians) and by location
*A professional can have their one page, they can buid it, where they can add they logo, descriptions, and images of any work, and the customers review. 
*Customer can post any job based in location and category, and then professionals can can go to all jobs posted in that category and location and contact the customer. 
*Customer can searchfor any professional depending on the category, and location, and maybe filter by review. 

*I will need to have an admin panel where I can activate or desactivate any profession (if I deasctivate that professional I dont want to lse their data).
Admin will ned to approve any professional sign up. Chek later how can we avoid fake reviews from customers an professional. 

I like the interface of https://billionhands.com/es/. 

*customer can post their jobs, and then professional canc check all last jobs posted in tehir category or location and contact or answer or commment the customer.

I am more than happy to have any ideas or comments from your side, and please feel free if you want to add something.

while registering both (the customer and the profeesional, we will collect some of thier data for communication
between them just like email or phone)

If you want to contact ilyas.t.a@hotmail.com

I will work with https://www.profesionalhosting.com/ wbehosting and domain. I will send the logo later. 
database msql

what about 270^-280^$, I was thinking in 250, but I promose once we finish everything everything I will do my best to add that 30 usd ok?